.product-container-model {
  color: var(--gray-color);
  border-radius: 15px;
  box-shadow: 0px 9px 14px gray;
  margin: 20px;
}
.image-product-modal {
  padding: 24px;
  border: 0.5px solid var(--gray-color);
  font-size: 36px;
  border-radius: 15px;
  margin: 15px;
}
.name-product-model {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}
.product-container-model:hover {
  background-color: var(--yellow-color);
  transition-duration: 1s;
}
.product-container-model:hover .name-product-model {
  color: black;
}
.product-container-model:hover .image-product-modal {
  border: var(--white-color);
  background-color: var(--white-color);
  color: black;
}
